<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>login</title>
  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <main>
    <h2 class="title">로그인</h2>

    <form action="" method="get" id="member" class="loginWrap">

      <fieldset>

        <legend class="a11yHidden">로그인 폼 입력 양식</legend>

        <div class="inputWrap">
          <label for="loginId"></label>
          <input type="text" name="loginId" id="loginId" placeholder="아이디를 입력해주세요." />

          <label for="loginPwd"></label>
          <input type="password" name="loginPwd" id="loginPwd" placeholder="비밀번호를 입력해주세요." />
        </div>

        <div class="forget">
          <span><a href="/">아이디 찾기</a></span>
          <span><a href="/">비밀번호 찾기</a></span>
        </div>

        <div class="btnsWrap">
          <button class="loginBtn" type="submit">로그인</button>
          <button class="pwdBtn" type="button">회원가입</button>
        </div>


      </fieldset>

    </form>
  </main>
</body>

</html>