@import url(./reset.css);
@import url(./theme.css);
@import url(./a11y.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}

.inner {
  max-width: 1050px;
  margin: 0 auto;
  font-family: "Pretendard";
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  background: none;
  font-family: "Pretendard";
}

/* inner */
.list-title {
  margin-top: 50px;
  text-align: center;
  font-size: 21px;
  line-height: 150%;
  font-weight: 600;
}

.best-product {
  margin-top: 50px;
  display: flex;
}

/* product list filter */
.product-nav {
  width: 220px;
  margin-right: 47px;
  white-space: nowrap;
  flex-shrink: 0;
}

.list-nav > li {
  padding: 14px 0;
  font-weight: 600;
  line-height: 150%;
  border-bottom: 1px solid #E1E1E1;
  cursor: pointer;
}

.list-nav li:last-child {
  border-bottom: 0;
}

.filter button {
  padding: 4px 0;
  font-size: 10px;
  font-weight: 600;
  line-height: 160%;
  color: #A6A6A6;
}

.filter{
  display: flex;
  justify-content: space-between;
}

.accordian-head summary {
  display: flex;
  justify-content: space-between;
}

.accordian-head[open] summary{
  padding-bottom: 14px;
}

.accordian-head summary img {
  transition: 0.5s;
}

.accordian-head[open] summary img {
  transform: rotate(-180deg);
}

.accordian-head summary::marker {
  content: '';
}

.accodiaon-body li {
  margin: 8px 0 16px; 
  font-weight: 400;
  line-height: 160%;
}

input {
  position: relative;
}

input[type="checkbox"]::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff url(../assets/icons/Input/isChecked=false.svg) no-repeat center/cover;
  width: 23px;
  height: 23px;
  vertical-align: -6px;
}

input[type="checkbox"]:checked::after {
  background: url(../assets/icons/Input/isChecked=true.png) no-repeat center/cover;
}

label {
  padding-left: 9px;
}


/* product list */
.product-list-group {
  width: 783px;
}

/* menu */
.menu {
  padding-bottom: var(--spacing-md);
  display: flow-root;
}

.menu span {
  line-height: var(--spacing-lg);
}

.menu-button-list {
  float: right;
  display: flow-root;
}
.menu-button {
  float: left;
}

/* list */
.product-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 18px;
}

.visual {
  position: relative;
}

.product-image img {
  width: 249px;
}

.visual button {
  position: absolute;
  right: 15px;
  bottom: 17px;
  padding: 0;
}