@import url(/client/css/theme.css);
@import url(/client/css/a11y.css);
@import url(/client/css/normalize.css);
@import url(/client/css/reset.css);

a {
  color: var(--content);
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
}

body {
  max-width: 1050px;
  margin: 0 auto;
}

header {
  height: 197px;
  overflow: hidden;
}

.header-top {
  /* height: 125px; */
}

/* login start */
.login {
  height: 31px;
  display: flex;
  justify-content: end;
  font-size: 12px;
}

.login li a {
  display: inline-block;
  padding: 12px;
  vertical-align: middle;
}

.login .sign-up {
  color: var(--primary);
}

.login > li:not(:last-child)::after {
  content: url(/client/assets/header/bar.png);
  vertical-align: middle;
}

.login li:last-child a {
  padding-right: 0;
}

.icon-down {
  margin-left: 1px;
}

/* login end */

.header-top-2 {
  /* height: 72px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
/* logo start */

h1 a {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

h1 > button {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.karly-btn {
  color: var(--primary);
}

.beauty-btn {
  color: var(--gray-400);
  position: relative;
}

.beauty-btn::after {
  content: url(/client/assets/header/new\ 1.svg);
  position: absolute;
  top: -50%;
  right: -3px;
}

.beauty-btn:hover {
  color: var(--primary);
}

/* logo end */

/* search start */
.header-search {
  position: relative;
}
.header-search input {
  width: 400px;
  height: 46px;
  border-radius: 6px;
  border: 1px solid var(--primary);
  padding: 0 0 0 14px;
  background-image: url(/client/assets/header/Vector.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

.header-search input:focus {
  outline: none;
}

.header-search .search-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 11px;
  cursor: pointer;
}

/* search end */

/* search-icon start */
.search-icon {
  width: 148px;
  display: flex;
  justify-content: space-between;
}

.search-icon li:hover a img {
  filter: invert(15%) sepia(30%) saturate(6904%)
    hue-rotate(274deg) brightness(88%) contrast(127%);
}

/* search-icon end */

header nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
/* category start */
.category {
  /* display: flex; */
  /* align-items: center; */
  cursor: pointer;
  position: relative;
}

.category h2::before {
  content: url(/client/assets/header/Hamburger.svg);
  margin-right: 12px;
}

.category:hover {
  color: var(--primary);
}

.category-list li {
  /* display: none; */
  position: absolute;
  width: 247px;
  height: 40px;
  border: 1px solid #000;
}

.category-list:hover li {
  display: block;
}
/* category end */

/* menu start */
.menu {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu li h2 a {
  padding: 10px;
}

/* menu end */

/* notice start */
.notice {
  width: 95px;
  height: 27px;
  line-height: 27px;
  border: 1px solid var(--gray-300);
  border-radius: 16px;
  color: var(--gray-500);
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
}

.notice span {
  color: var(--primary);
}

/* notice end */
