<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>컬리 - 마켓칼리/뷰티칼리</title>
  <link rel="stylesheet" href="/client/css/reset.css" />
  <link rel="stylesheet" href="/client/css/style.css" />

</head>
<body>
  <header>
    <div class="header-top">
      <!-- login start -->
      <ul class="login">
        <li><a href="" class="sign-up">회원가입</a></li>
        <li><a href="">로그인</a></li>
        <li><a href="">고객센터</a>
            <ul>
              <li>공지사항</li>
              <li>자주하는 질문</li>
              <li>1:1 문의</li>
              <li>대량주문 문의</li>
            </ul>
        </li>
      </ul>
      <!-- login end -->

      <!-- logo start -->
      <h1>
        <img src="/client/assets/header/logo.svg" alt="마켓칼리 로고" />
        <button>마켓칼리</button>
        <i></i>
        <button>뷰티칼리</button>
      </h1>
      <!-- logo end -->
      
      <!-- search start -->
      <div class="header-search">
        <input id="" type="text" placeholder="검색어를 입력해주세요"/>
        <button type="">
          <i></i>
        </button>
      </div>
      <!-- search end -->

      <!-- search-icon start -->
      <ul class="search-icon">
        <li><a href=""><img src="/client/assets/header/Location.svg" alt="배송지" /></a></li>
        <li><a href=""><img src="/client/assets/header/Heart.svg" alt="찜하기" /></a></li>
        <li><a href=""><img src="/client/assets/header/Cart.svg" alt="장바구니" /></a></li>
      </ul>
      <!-- search-icon end -->
    </div>
    <nav>

      <!-- category start -->
      <div class="categoty">
        <span><img src="/client/assets/header/Hamburger.svg" alt="카테고리 아이콘" /></span>
        <ul><span>카테고리</span>
          <li>
            <img src="/client/assets/header/category/Type=Gift.svg" alt="선물하기 아이콘" />
            선물하기
          </li>
          <li>
            <img src="/client/assets/header/category/Type=_Vegetable.svg" alt="채소 아이콘" />
            채소
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Fruit.svg" alt="과일, 견과, 쌀 아이콘" />
            과일 &middot; 견과 &middot; 쌀
          </li>
          <li>
            <img src="/client/assets/header/category/Type=SeaFood.svg" alt="수산, 해산, 건어물 아이콘" />
            수산 &middot; 해산 &middot; 건어물
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Meet.svg" alt="정육, 계란 아이콘" />
            정육 &middot; 계란
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Cook.svg" alt="메인요리 아이콘" />
            국 &middot; 반찬 &middot; 메인요리
          </li>
          <li>
            <img src="/client/assets/header/category/Type=_Salad.svg" alt="샐러드, 간편식 아이콘" />
            샐러드 &middot; 간편식
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Oil.svg" alt="면, 양념, 오일 아이콘" />
            면 &middot; 양념 &middot; 오일
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Coffee.svg" alt="생수, 음료, 우유, 커피 아이콘" />
            생수 &middot; 음료 &middot; 우유 &middot; 커피
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Snack.svg" alt="간식, 과자, 떡 아이콘" />
            간식 &middot; 과자 &middot; 떡
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Bread.svg" alt="베이커리, 치즈, 델리 아이콘" />
            베이커리 &middot; 치즈 &middot; 델리
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Health.svg" alt="건강식품 아이콘" />
            건강식품
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Wine.svg" alt="와인 아이콘" />
            와인
          </li>
          <li>
            <img src="/client/assets/header/category/Type=_Traditional Liquor.svg" alt="전통주 아이콘" />
            전통주
          </li>
          <li>
            <img src="/client/assets/header/category/Type=_Detergent.svg" alt="생활용품, 리빙, 캠핑 아이콘" />
            생활용품 &middot; 리빙 &middot; 캠핑
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Cook.svg" alt="스킨케어 메이크업" />
            스킨케어 &middot; 메이크업
          </li>
          <li>
            <img src="/client/assets/header/category/Type=shampoo.svg" alt="헤어, 바디, 구강 아이콘" />
            헤어 &middot; 바디 &middot; 구강
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Food.svg" alt="주방용품 아이콘" />
            주방용품
          </li>
          <li>
            <img src="/client/assets/header/category/Type=HomeAppliances.svg" alt="가전제품 아이콘" />
            가전제품
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Dog.svg" alt="반려동물 아이콘" />
            반려동물
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Baby.svg" alt="베이비, 키즈, 완구 아이콘" />
            베이비 &middot; 키즈 &middot; 완구
          </li>
          <li>
            <img src="/client/assets/header/category/Type=Travel.svg" alt="여행, 티켓 아이콘" />
            여행 &middot; 티켓
          </li>
        </ul>
      </div>
      <!-- category end -->

      <!-- menu start -->
      <ul class="menu">
        <li>신상품</li>
        <li>베스트</li>
        <li>알뜰쇼핑</li>
        <li>특가/혜택</li>
      </ul>
      <!-- menu end -->

      <!-- notice start -->
      
        <a href="" class="notice">
          <span class="">샛별&middot;낮</span>
          배송안내
        </a>
      
      <!-- notice end -->
    </nav>
  </header>
</body>
</html>