<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  <div class="bubble">
    <div class="content">
      <div class="pic"><img src="../../assets/tangtang/thumbnail.jpg" alt="탱탱쫄면" /></div>
      <div class="text-wrap">
        <h5 class="title">[풀무원] 탱탱쫄면 (4개입)</h5>
        <p>장바구니에 상품을 담았습니다.</p>
      </div>
    </div>
  </div>
</body>
</html>