@import url(../../css/theme.css);
@import url(../../css/normalize.css);
@import url(../../css/reset.css);

.inner {
  max-width: 1050px;
  margin: 0 auto;
}
h2 {
  text-align: center;
  margin: 80px 0 40px 0;
}
.cart-list {
  width: 742px;
}
.cart-list-check {
  display: flex;
  align-items: center;
}
.line {
  background-color: var(--content);
  width: 1px;
  height: 10px;
  margin: 0 8px;
}
.food-cate {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.food-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-type {
  display: flex;
  align-items: center;
}
.frozen,
.refrigerated {
  border-bottom: 1px solid black;
}
