<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="./cart.css" />
    <title>Cart</title>
  </head>
  <body>
    <div class="inner">
      <h2>장바구니</h2>
      <div class="cart-list">
        <div class="cart-list-check">
          <img
            src="../../assets/icons/Icon/isChecked=false.svg"
            alt=""
          />
          <p>전체선택<span>(3/3)</span></p>
          <div class="line"></div>
          <p>선택삭제</p>
        </div>
        <div class="food-cate">
          <div>
            <div>
              <img
                src="../../assets/icons/Icon/Type=Refrigerated.svg"
                alt=""
              />
              <span>냉장식품</span>
            </div>
            <img
              src="../../assets/icons/Icon/Direction=Down.svg"
              alt=""
            />
          </div>
          <div>
            <div>
              <img
                src="../../assets/icons/Icon/Type=Frozen.svg"
                alt=""
              />
              <span>냉장식품</span>
            </div>
            <img
              src="../../assets/icons/Icon/Direction=Down.svg"
              alt=""
            />
          </div>
          <div>
            <div>
              <img
                src="../../assets/icons/Icon/Type=_Normal.svg"
                alt=""
              />
              <span>냉장식품</span>
            </div>
            <img
              src="../../assets/icons/Icon/Direction=Down.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
