<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="./productDetail.css" />
    <link rel="stylesheet" href="./css/reset.css" />
    <title>PRODUCT_DETAIL</title>
  </head>

  <body>
    <main class="product-detail-wrapper">
      <!-- 상단 -->
      <section class="product-information">
        <section class="product-thumbnail">
          <img
            src="./../../assets/tangtang/thumbnail.jpg"
            class="product-information__thumbnail-img"
          />
        </section>
        <section 상품 정보>
          <h3 class="delivery-company">샛별배송</h3>
          <h1 class="product-name">
            [풀무원] 탱탱쫄면 (4개입)
          </h1>
          <p class="product-slogan">
            튀기지 않아 부담 없는 매콤함
          </p>
          <p class="product-price">4,980<span>원</span></p>
          <p class="login-recommended">
            로그인 후, 적립 혜택이 제공됩니다.
          </p>
          <div class="product-information-box">
            <div class="line">
              <span class="product-info-title">배송</span>
              <div>
                <span>샛별배송</span>
                <p>23시 전 주문 시 내일 아침 7시 전 도착</p>
                <p>
                  (대구 부산 울산 샛별배송 운영시간 별도
                  확인)
                </p>
              </div>
            </div>
            <div class="line">
              <span class="product-info-title">판매자</span>
              <span>칼리</span>
            </div>
            <div class="line">
              <span class="product-info-title"
                >포장타입</span
              >
              <div>
                <p>상온(종이포장)</p>
                <p>
                  택배배송은 에코 포장이 스티로폼으로 대체
                  됩니다.
                </p>
              </div>
            </div>
            <div class="line">
              <span class="product-info-title"
                >판매단위</span
              >
              <span>1봉</span>
            </div>
            <div class="line">
              <span class="product-info-title"
                >중량/용량</span
              >
              <span>123g*4봉</span>
            </div>
            <div class="line">
              <span class="product-info-title">원산지</span>
              <span>상세페이지 별도 표기</span>
            </div>
            <div class="line">
              <p class="product-info-title">
                알레르기 정보
              </p>
              <div class="allergy-info">
                <p>-대두, 밀, 쇠고기 함유</p>
                <p>
                  -계란, 우유, 메밀, 땅콩, 고등어, 게,
                  돼지고기, 새우, 복숭아, 토마토, 아황산류,
                  호두, 잣, 닭고기, 오징어, 조개류(굴, 전복,
                  홍합 포함)를 사용한 제품과 같은
                  제조시설에서 제조
                </p>
              </div>
            </div>
            <div class="product-choice-wrap">
              <span class="product-info-title"
                >상품선택</span
              >
              <div class="product-purchase-box">
                <span>[풀무원]탱탱쫄면(4개입)</span>
                <div class="product-quantity">
                  <span>-</span>
                  <span>0</span>
                  <span>+</span>
                </div>
                <span class="total-price">4,980원</span>
              </div>
            </div>
          </div>
          <div class="total-price-result">
            <span>총상품금액:4,980원</span>
            <div class="login-benefits">
              <div class="accumulate-label">적립</div>
              <span>로그인 후, 적립 혜택 제공</span>
            </div>
          </div>
          <!-- 클래스명 수정필요 -->
          <div class="button">
            <div class="icons">
              <img src="../../assets/icons/Icon/Bell.svg" />
            </div>
            <div class="icons">
              <img
                src="../../assets/icons/Icon/Heart.svg"
              />
            </div>
            <div class="cart">장바구니 담기</div>
          </div>
        </section>
      </section>
      <!-- 하단 -->
      <section class="product-detail" 상품 상세 부분>
        <div 상품 네비></div>
        <section 상품 설명>
          <section 상품 상세 설명></section>
          <section 상품 체크포인트></section>
          <section 상품 상세 정보 이미지></section>
          <section 상품 와이칼리></section>
        </section>
        <section 상품 상세 정보></section>
        <section 상품 후기></section>
        <section 상품 문의></section>
      </section>
    </main>
  </body>
</html>
