<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./productDetail.css">
  <link rel="stylesheet" href="./../../css/reset.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="./js/main.js" type="module"></script>
  <title>PRODUCT_DETAIL</title>
</head>

<body>
  <main class="product-details-page">
    <!-- 상단 -->
    <!-- <section class="product-information" 상품 구매 정보>
      <section 상품 썸네일>
        <img src="./../../assets/tangtang/thumbnail.jpg" class="product-information__thumbnail-img">
      </section>
      <section 상품 정보> 

      </section>
    </section> -->
    <!-- 하단 -->
    <section class="details"> 
      <div class="details-lnb">
        <ul>
          <li class="lnb-item lnb-item-focused">상품설명</li>
          <li class="lnb-item">상세정보</li>
          <li class="lnb-item">후기<span class="lnb-item-count">&#40;1,000&#41;</span></li>
          <li class="lnb-item">문의</li>
        </ul>
      </div>
      <section>
        <section class="details-info">
          <div>
            <img src="./../../assets/tangtang/detail_view.jpg" class="details-product-image">
          </div>
          <div>
            <h3 class="product-name">
              <small class="product-name-small">튀기지 않아 부담 없는 매콤함</small>&lsqb;풀무원&rsqb; 탱탱쫄면
            </h3>
            <p class="product-description">
              쫄면의 진가는 매콤새콤한 양념과 탱탱한 면발에서 찾을 수 있지요. 풀무원은 이 맛을 더 부담 없이 즐길 수 있도록 튀기지 않고 만든 탱탱쫄면을 선보입니다. 밀가루와 감자 전분을 적절히 배합해 탄력이 좋고, 입에 넣었을 때는 찰지게 씹히죠. 고추장을 넣어 숙성한 비빔장은 자연스럽고 깊은 맛을 냅니다. 간단하게 조리해 마지막 한 가닥까지 탱탱한 식감을 즐겨보세요. 취향에 따라 다양한 고명을 올려 드셔도 좋아요.
            </p>
          </div>
        </section>
        <section class="details-check-point"상품 체크포인트>
          <h3 class="check-title">Karly's Check Point</h3>
          <img src="./../../assets/product-detail/checkImage.png" clasee="check-point-image">
        </section>
        <section class="details-info2" 상품 상세 정보 이미지>
          <img src="./../../assets/tangtang/detail_info.jpg">
        </section>
        <section class="details-why-karly" 상품 와이칼리>
          <h4 class="why-karly-title">
            WHY KARLY
          </h4>
          <div class="why-karly-section">
            <dl>
              <dt class="why-karly-sub-title">깐깐한 상품위원회</dt>
              <dd class="why-karly-txt">
                나와 내 가족이 먹고 쓸 상품을 고르는
                마음으로 매주 상품을 직접 먹어보고,
                경험해보고 성분, 맛, 안정성 등 다각도의
                기준을 통과한 상품만을 판매합니다.
              </dd>
            </dl>
            <dl>
              <dt class="why-karly-sub-title">차별화된 Kurly Only 상품</dt>
              <dd class="why-karly-txt">
                전국 각지와 해외의 훌륭한 생산자가
믿고 선택하는 파트너, 컬리.
3천여 개가 넘는 컬리 단독 브랜드, 스펙의
Kurly Only 상품을 믿고 만나보세요.
              </dd>
            </dl>
            <dl>
              <dt class="why-karly-sub-title">신선한 풀콜드체인 배송</dt>
              <dd class="why-karly-txt">
                온라인 업계 최초로 산지에서 문 앞까지
상온, 냉장, 냉동 상품을 분리 포장 후
최적의 온도를 유지하는 냉장 배송 시스템,
풀콜드체인으로 상품을 신선하게 전해드립니다.
              </dd>
            </dl>
            <dl>
              <dt class="why-karly-sub-title">고객, 생산자를 위한 최선의 가격</dt>
              <dd class="why-karly-txt">
                매주 대형 마트와 주요 온라인 마트의 가격
변동 상황을 확인해 신선식품은 품질을
타협하지 않는 선에서 최선의 가격으로,
가공식품은 언제나 합리적인 가격으로
정기 조정합니다.
              </dd>
            </dl>
            <dl>
              <dt class="why-karly-sub-title">환경을 생각하는 지속 가능한 유통</dt>
              <dd class="why-karly-txt">
                친환경 포장재부터 생산자가 상품에만
집중할 수 있는 직매입 유통구조까지,
지속 가능한 유통을 고민하며 컬리를 있게
하는 모든 환경(생산자, 커뮤니티, 직원)이
더 나아질 수 있도록 노력합니다.
              </dd>
            </dl>
          </div>
        </section>
      </section>
      <section class="details-review">
        <h2 class="review-title">상품후기</h2>
        <p class="review-benefit">글후기 50원 적립금 혜택이 있어요.</p>
        <ul class="review-benefit-list">
          <li class="review-benefit-item">퍼플&#44; 더퍼플은 2배 적립 &lpar;100원&rpar; &sol; 주간 베스트 후기로 선정 시 5,000원 추가 적립</li>
          <li class="review-benefit-item">후기 작성은 배송완료일로부터 30일 이내 가능합니다&#46;</li>
          <li class="review-benefit-item">작성하신 후기는 확인 후 적립금이 지급됩니다. &lpar;영업일 기준 평균 1&sim;2일 소요&rpar;</li>
        </ul>
        <div class="review-option">
          <p class="review-count">총 2개</p>
          <ul class="review-array">
            <li class="review-item review-item-selected">추천순</li>
            <li class="review-item">최근 등록순</li>
          </ul>
        </div>
        <ul class="review-section">
          <li class="review-notice">
            <p class="review-notice-btn">공지</p>
            금주의 베스트 후기 안내
          </li>
          <li class="review-notice">
            <p class="review-notice-btn">공지</p>
            상품 후기 적립금 정책 안내
          </li>
          <li class="review">
            <div class="review-author-info">
              <p class="review-best-btn">베스트</p>
              <p class="review-purple-btn">퍼플</p>
              <p class="review-author">김*진</p>
            </div>
            <div class="review-content-info">
              <p class="review-product-name">[풀무원] 탱탱쫄면 (4개입)</p>
              <div class="review-content">너무 맛있어여~
                면이 쫄깃하고 양념도 짱맛나요!!!
              </div>
              <p class="review-date">2022.11.10</p>
            </div>
          </li>
          <li class="review">
            <div class="review-author-info">
              <p class="review-best-btn">베스트</p>
              <p class="review-purple-btn">퍼플</p>
              <p class="review-author">김*식</p>
            </div>
            <div class="review-content-info">
              <p class="review-product-name">[풀무원] 탱탱쫄면 (4개입)</p>
              <div class="review-content">또 주문할 것 같습니다.
                너무 맛있어요 내스타일이야~!
              </div>
              <p class="review-date">2022.11.10</p>
            </div>
          </li>
          <li class="review">
            <div class="review-author-info">
              <p class="review-best-btn">베스트</p>
              <p class="review-purple-btn">퍼플</p>
              <p class="review-author">김*범</p>
            </div>
            <div class="review-content-info">
              <p class="review-product-name">[풀무원] 탱탱쫄면 (4개입)</p>
              <div class="review-content">너무 맛있어여~
                면이 쫄깃하고 양념도 짱맛나요!!!
              </div>
              <p class="review-date">2022.11.10</p>
            </div>
          </li>
        </ul>
        <div class="slide-btn-section">
          <button class="slide-btn slide-btn-left" type="button"></button>
          <button class="slide-btn slide-btn-right slide-btn-disable" type="button"></button>
        </div>
        <button class="details-write-btn" type="button">후기 작성하기</button>
      </section>
      <section class="details-inquiry">
        <h2 class="inquiry-title">상품문의</h2>
        <ul class="inquiry-description-list">
          <li class="inquiry-description">상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수 있습니다&#46;</li>
          <li class="inquiry-description">배송관련&#44; 주문&#40;취소&#47;교환&#47;환불&#41;관련 문의 및 요청사항은 마이컬리 내 1&#58;1 문의에 남겨주세요&#46;</li>
        </ul>
        <table class="inquiry-list">
          <thead>
            <tr class="inquiry-item-header">
              <th class="inquiry-item-title">제목</th>
              <th class="inquiry-author">작성자</th>
              <th class="inquiry-date">작성일</th>
              <th class="inquiry-status">답변상태</th>
            </tr>
          </thead>
          <tbody>
            <tr class="inquiry-item-notice">
              <td>판매(일시)중단 제품 안내 (22.11.10 업데이트)</td>
              <td>칼리</td>
              <td>2017.02.01</td>
              <td>&#45;</td>
            </tr>
            <tr class="inquiry-item">
              <td>팩이 터져서 왔어요</td>
              <td>김*식</td>
              <td>2022.11.11</td>
              <td>답변대기</td>
            </tr>
            <tr class="inquiry-item-content">
              <td colspan="4">
                <div class="inquiry-question">
                  <img src="./../../assets/product-detail/Question.png">
                  <p>스티로폼 박스도 손상되어 있어 포장이 터져 엉망이네요
                    환불 요청합니다.
                  </p>
                </div>
                <div class="inquiry-answer">
                  <img src="./../../assets/product-detail/Answer.png">
                  <p>안녕하세요. 칼리입니다.
믿고 찾아주신 상품에 불편을 드려 정말 죄송합니다.

더불어, 해당 게시판은 실시간으로 상담이 어려워 순차적으로 답변드리고 있는 관계로 신속하게 답변 드리지 못하여 대단히 죄송합니다.
다행히도 고객님의 불편하셨던 사항은 고객행복센터를 통해 안내 받으신 점 확인하였습니다.

불편을 드려 정말 죄송할 따름이며, 고객님께 늘 신선하고 최상의 상품을 불편 없이 전달드리기 위해 최선을 다하는 칼리가 되겠습니다.

칼리 드림.

<p class="inquiry-answer-date">2022. 11.11</p>
                  </p>
                </div>
              </td>
            </tr>
            <tr class="inquiry-item">
              <td>비밀글입니다.<img src="./../../assets/product-detail/Lock.png" class="inquiry-lock-img"></td>
              <td>김*진</td>
              <td>2022.10.09</td>
              <td>답변대기</td>
            </tr>
            <tr class="inquiry-item">
              <td>비밀글입니다.<img src="./../../assets/product-detail/Lock.png" class="inquiry-lock-img"></td>
              <td>김*범</td>
              <td>2022.09.13</td>
              <td class="inquiry-status-finish">답변완료</td>
            </tr>
            <tr class="inquiry-item">
              <td>비밀글입니다.<img src="./../../assets/product-detail/Lock.png" class="inquiry-lock-img"></td>
              <td>심*범</td>
              <td>2022.08.30</td>
              <td>답변완료</td>
            </tr>
            <tr class="inquiry-item">
              <td>비밀글입니다.<img src="./../../assets/product-detail/Lock.png" class="inquiry-lock-img"></td>
              <td>야*</td>
              <td>2022.08.12</td>
              <td>답변완료</td>
            </tr>
            <tr class="inquiry-item">
              <td>비밀글입니다.<img src="./../../assets/product-detail/Lock.png" class="inquiry-lock-img"></td>
              <td>김**사</td>
              <td>2022.07.23</td>
              <td>답변완료</td>
            </tr>
            
          </tbody>
        </table>
        <div class="slide-btn-section">
          <button class="slide-btn slide-btn-left" type="button"></button>
          <button class="slide-btn slide-btn-right slide-btn-disable" type="button"></button>
        </div>
        <button class="details-write-btn" type="button">문의하기</button>
      </section>
    </section>
  </main>


  
  
</body>
</html>
