@import url(../../css/theme.css);
@import url(../../css/reset.css);
@import url(../../css/a11y.css);

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
:after,
:before {
  box-sizing: border-box;
  font-family: "Pretendard", "malgun gothic", dotum, sans-serif;
}

.inner {
  max-width: 1050px;
  margin: 44px auto 0 auto;
}
main {
  margin-top: 44px;
}
.product-information {
  display: flex;
  justify-content: center;
}
.product-thumbnail {
  margin-right: 90px;
}
.product-title-wrap {
  text-align: start;
}
.product-thumbnail img {
  width: 400px;
  height: 514px;
}
.delivery-company {
  font-size: var(--text-lg);
  font-weight: 700;
  color: var(--gray-500);
  margin-bottom: var(--spacing-base);
}
.product-title-name {
  font-size: var(--text-xxl);
  font-weight: 600;
  color: var(--content);
  margin-bottom: var(--spacing-xs);
}
.product-slogan {
  font-size: var(--text-base);
  color: var(--gray-400);
  margin-bottom: var(--spacing-base);
}
.product-price {
  display: flex;
  align-items: center;
  font-size: var(--text-xxl);
  font-weight: 600;
  margin-bottom: var(--spacing-base);
}
.login-recommended {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: var(--spacing-md);
}
.product-price span {
  font-size: var(--text-base);
}
.product-information-box {
  border-top: 1px solid var(--gray-100);
  border-bottom: 1px solid var(--gray-100);
  padding: var(--spacing-base) 0;
  text-align: start;
}
.product-info-title {
  width: 128px;
  font-size: var(--text-xs);
  font-weight: 600;
  color: var(--gray-500);
  line-height: 150%;
}
.product-info-detail {
  font-size: var(--text-xs);
  color: var(--gray-500);
}
.product-info-detail-desc {
  font-size: var(--text-xs);
  color: var(--gray-400);
  line-height: 18px;
}
.line {
  display: flex;
  align-items: center;
  width: 560px;
  border-bottom: 1px solid var(--gray-100);
  padding: var(--spacing-base) 0 var(--spacing-lg) 0;
}
.allergy-info {
  width: 432px;
}
.product-choice-wrap {
  display: flex;
  margin-top: var(--spacing-base);
}
.product-purchase-box {
  position: relative;
  border: 1px solid var(--gray-200);
  padding: 10px;
  width: 432px;
}
.product-purchase-box span:nth-child(1) {
  color: var(--gray-500);
  font-size: var(--text-xs);
}
.product-quantity {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
  width: 84px;
  height: 30px;
  border: 1px solid var(--gray-200);
  margin-top: var(--spacing-md);
}
.quantity {
  border: 0;
  width: 30px;
  text-align: center;
}
.product-quantity button {
  border: 0;
  background-color: var(--white);
  cursor: pointer;
}
.total-price {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 12px;
  color: var(--content);
  font-weight: 600;
  font-size: var(--text-xs);
}
.total-price-result {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.total-price-result p:nth-child(1) {
  margin-top: 28px;
  margin-bottom: 8px;
  font-size: var(--text-base);
  font-weight: 600;
}
.price {
  font-weight: 600;
  font-size: var(--text-xxl);
  margin: 0 4px 0 17px;
}
.login-benefits {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.login-benefits span {
  font-size: var(--text-base);
  font-weight: 600;
  margin-left: 6px;
}
.accumulate-label {
  width: 45px;
  background-color: var(--accent-yellow);
  border-radius: 12px;
  padding: 4px 8px 4px 8px;
  align-items: center;
  color: var(--white);
  gap: 4px;
}
.icons-wrap {
  display: flex;
  align-items: center;
}
.icons {
  padding: 30px;
  border: 1px solid var(--gray-100);
  position: relative;
  margin-right: var(--spacing-sm);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--white);
}
.icons img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--text-base);
}

*,
:after,
:before {
  box-sizing: border-box;
  font-family: "Pretendard", "malgun gothic", dotum, sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                           상세페이지 레이아웃 detail-page                           */
/* -------------------------------------------------------------------------- */
.detail-page {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                           상세 메뉴, 네비게이션 detail-lnb                          */
/* -------------------------------------------------------------------------- */
.detail-lnb {
  position: sticky;
  top: 52px;
  z-index: 99;
}

.lnb-list {
  margin-top: 49px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.lnb-item {
  flex-grow: 1;
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  border-right: 1px solid #a6a6a6;
  cursor: pointer;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--content);
  background-color: #f9f9f9;
}

.lnb-item:first-child {
  border-left: 1px solid #a6a6a6;
}

.lnb-list .lnb-item-selected {
  border: 1px solid #e1e1e1;
  color: var(--primary);
  background-color: #ffffff;
}

.lnb-review-count {
  font-size: 12px;
  line-height: 19px;
  margin-left: 8px;
}

/* -------------------------------------------------------------------------- */
/*                              상세 정보 detail-info                             */
/* -------------------------------------------------------------------------- */
.detail-info {
  padding-top: 40px;
  margin-bottom: 96px;
}

.detail-product-img {
  margin-bottom: 76px;
}

.product-name {
  font-size: 51px;
  font-weight: 700;
  line-height: 71px;
  margin-bottom: 36px;
  color: var(--content);
}

.product-name-modifier {
  font-weight: 600;
  font-size: 28px;
  line-height: 43px;
  color: #000000;
}

.product-desc {
  border-top: 1px solid #e1e1e1;
  padding-top: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--content);
  text-align: left;
}

/* -------------------------------------------------------------------------- */
/*                     상세정보 칼리 체크 포인트 Karly's Check Point                     */
/* -------------------------------------------------------------------------- */
.detail-check-point {
  padding-bottom: 96px;
}

.check-title {
  background-color: #ffffff;
  font-size: 51px;
  font-weight: 700;
  line-height: 71px;
  color: var(--content);
  position: relative;
  margin-bottom: 68px;
}

.check-title::before {
  content: " ";
  background: #d9d9d9;
  width: 280px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
}

.check-title::after {
  content: " ";
  background: #d9d9d9;
  width: 280px;
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
}

/* -------------------------------------------------------------------------- */
/*                             상세정보 와이칼리 WHY KARLY                            */
/* -------------------------------------------------------------------------- */
.detail-why-karly {
  border-top: 1px solid #e1e1e1;
  padding: 72px 0 52px;
}

.why-karly-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: var(--content);
}

.why-karly-list {
  margin: 35px 53px 84px 53px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 24px;
}

.why-karly-list dl {
  padding-top: 56px;
  width: 30%;
}

.why-karly-list dl:nth-child(1) .why-karly-item-title::before {
  content: "";
  background: url("./../../assets/product-detail/whyKarly.png");
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.why-karly-list dl:nth-child(2) .why-karly-item-title::before {
  content: "";
  background: url("./../../assets/product-detail/whyKarly2.png");
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.why-karly-list dl:nth-child(3) .why-karly-item-title::before {
  content: "";
  background: url("./../../assets/product-detail/whyKarly3.png");
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.why-karly-list dl:nth-child(4) .why-karly-item-title::before {
  content: "";
  background: url("./../../assets/product-detail/whyKarly4.png");
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.why-karly-list dl:nth-child(5) .why-karly-item-title::before {
  content: "";
  background: url("./../../assets/product-detail/whyKarly5.png");
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.why-karly-item-title {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: 600;
  line-height: 32px;
  color: var(--primary);
}

.why-karly-txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--content);
  width: 85%;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                              상세정보 상품후기 review                              */
/* -------------------------------------------------------------------------- */
.detail-review {
  padding-bottom: 72px;
  position: relative;
}

.review-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
  text-align: left;
}

.review-benefit {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--content);
  margin-top: 24px;
}

.review-benefit-list {
  margin-bottom: 56px;
}

.review-benefit-item {
  text-align: left;
  color: #6b6b6b;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  list-style: disc;
  position: relative;
  list-style-position: inside;
  left: 6px;
}

.review-option {
  display: flex;
  justify-content: space-between;
}

.review-count {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.review-array {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
}

.review-array-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #a6a6a6;
}

.review-array-selected {
  color: var(--content);
}

.review-array-item:first-child::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #a6a6a6;
  display: inline-block;
  margin-left: 6px;
  margin-right: 2px;
}

.detail-write-btn {
  width: 155px;
  height: 44px;
  background: var(--primary);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.review-list {
  border-top: 1px solid #000000;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 578px;
}

.review-notice {
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--content);
}

.review-notice-span {
  display: inline-block;
  background-color: #e1e1e1;
  color: var(--content);
  padding: 0 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin-right: 20px;
  border-radius: 1px;
  height: 18px;
  position: relative;
  bottom: 2px;
}

.review {
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
}

.review-info {
  margin-right: 82px;
  width: 140px;
  display: flex;
  gap: 8px;
}

.review-best-span {
  background-color: #bd76ff;
  border-radius: 1px;
  padding: 0 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
}

.review-purple-span {
  border: 1px solid var(--primary);
  border-radius: 1px;
  padding: 0 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--primary);
  height: 18px;
}

.review-author {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.review-content {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.review-product-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #898989;
}

.review-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  white-space: pre-line;
}

.review-date {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #898989;
}

.review-empty {
  padding: 20px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-bottom: 1px solid var(--gray-100);
  display: none;
}

.review-empty-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

.slide-btn {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 56px;
  height: 56px;
  padding: 4px;
  cursor: pointer;
  background: #ffffff url("./../../assets/product-detail/btnDisabled.png") 50% 50% no-repeat;
}

.slide-btn-next {
  transform: rotate(180deg);
}

.slide-btn:first-child {
  margin-right: 16px;
}

.slide-btn-disable {
  background: #ffffff url("./../../assets/product-detail/btnEnabled.png") 50% 50% no-repeat;
}

/* -------------------------------------------------------------------------- */
/*                          상세정보 상품문의 detail-inquiry                          */
/* -------------------------------------------------------------------------- */
.detail-inquiry {
  position: relative;
  margin-bottom: 96px;
}

.inquiry-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
  text-align: left;
}

.inquiry-desc-list {
  margin-bottom: 56px;
  margin-top: 24px;
}

.inquiry-desc-item {
  text-align: left;
  color: #6b6b6b;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  list-style: disc;
  position: relative;
  list-style-position: inside;
  left: 6px;
}

.inquiry-list {
  margin-bottom: 16px;
}

.inquiry-list td {
  padding: 17px 0;
}

.inquiry-item-header {
  border-top: 2px solid #000000;
  border-bottom: 1px solid #000000;
}

.inquiry-item-header th {
  padding: 17px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.inquiry-item-title {
  width: 750px;
}

.inquiry-author,
.inquiry-date,
.inquiry-status {
  width: 100px;
}

.inquiry-list tbody tr td:first-child {
  text-align: left;
  text-indent: 20px;
}

.inquiry-item-notice td:first-child {
  color: var(--content);
}

.inquiry-notice-span {
  display: inline-block;
  background-color: #e1e1e1;
  color: var(--content);
  padding: 0 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin-right: 20px;
  border-radius: 1px;
  height: 18px;
  position: relative;
  bottom: 2px;
  text-indent: 0;
}

.inquiry-item td,
.inquiry-item-notice td,
.inquiry-item-secret td {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.inquiry-item td:first-child {
  color: var(--content);
}

.inquiry-item-notice td:not(:first-child),
.inquiry-item td:not(:first-child),
.inquiry-item-secret td {
  color: var(--gray-400);
}

.inquiry-lock-img {
  position: relative;
  top: 1px;
  left: 15px;
}

.inquiry-list tbody tr {
  border-bottom: 1px solid var(--gray-100);
}

.inquiry-item-content {
  background-color: var(--gray-50);
  text-align: left;
}

.inquiry-item-content .inquiry-item-content-td {
  padding: 20px;
}

.inquiry-question {
  margin-bottom: 40px;
  display: flex;
  flex-flow: row nowrap;
}

.inquiry-answer {
  display: flex;
  flex-flow: row nowrap;
}

.inquiry-question-txt,
.inquiry-answer-txt {
  text-indent: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--content);
}

.inquiry-content-icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.inquiry-answer-date {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--gray-400);
  margin-top: 12px;
}

.inquiry-item-secret .inquiry-status-finish,
.inquiry-item .inquiry-status-finish {
  color: var(--primary);
}

/* -------------------------------------------------------------------------- */
/*                    팝업창 후기작성/상품문의하기 popup review/inquiry                    */
/* -------------------------------------------------------------------------- */
/* 공통 레이아웃 popup */
.popup {
  display: none;
  padding: 32px;
  border-radius: 16px;
  background: var(--white);
  width: 793px;
  height: 630px;
  margin: 0 auto;
  position: relative;
}

.popup-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: var(--black);
  border-bottom: 1px solid var(--gray-100);
  padding-bottom: 20px;
}

.popup-btn-close {
  background: url("./../../assets/product-detail/btnClose.png") no-repeat;
  position: absolute;
  width: 12px;
  height: 12px;
  cursor: pointer;
  top: 46px;
  right: 41px;
  border: none;
}

.popup-product-info {
  border-bottom: 1px solid var(--gray-100);
  padding: 16px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.popup-product-img {
  width: 72px;
  height: 72px;
}

.popup-product-name {
  flex-grow: 1;
  padding-left: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.popup-wrap {
  padding: 16px 0 58px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--gray-100);
  position: relative;
}

.popup-content-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.popup-content-wrap:nth-child(2) {
  margin-bottom: 12px;
}

.popup-content-title {
  width: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--content);
}

.popup-content {
  flex-grow: 1;
  position: relative;
}

.popup-title-input {
  padding: 9px 20px;
  height: 44px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-400);
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  outline: none;
}

.popup-txt-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: var(--gray-400);
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0;
  padding: 16px;
  overflow-y: auto;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
}

.popup-label-title {
  color: var(--gray-400);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 4px;
  display: block;
}

.popup-inquiry .popup-label-title:first-child {
  margin-top: 0;
}

.popup-label-item {
  width: 95%;
  text-indent: -12px;
  display: block;
  margin-left: 16px;
}

.popup-label-item::before {
  content: "";
  position: relative;
  width: 3px;
  height: 3px;
  bottom: 2px;
  background-color: var(--gray-400);
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.popup-review .popup-label-item:first-child {
  width: 100%;
  text-indent: 0;
  margin-left: 0;
}

.popup-review .popup-label-item:first-child:before {
  content: none;
}

.popup-label-red {
  color: var(--info-error);
  display: block;
}

.popup-txt-textarea {
  padding: 16px;
  width: 100%;
  height: 198px;
  resize: none;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: var(--gray-400);
}

/* 팝업창 버튼 취소/등록  popup-btn*/
.popup-btn-wrap {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-flow: row nowrap;
}

.popup-btn-cancel {
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  color: var(--content);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 4px;
  width: 186px;
  height: 54px;
  cursor: pointer;
}

.popup-btn-register {
  background-color: var(--gray-100);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--white);
  border-radius: 4px;
  border: none;
  width: 186px;
  height: 54px;
  cursor: pointer;
}

/* 팝업창 비밀글로 문의하기 체크박스 popup-inquiry-secret checkbox */
.popup-secret-wrap {
  display: inline-block;
  position: absolute;
  left: 102px;
  top: 285px;
}

.popup-secret-label {
  user-select: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: var(--black);
}

.popup-secret-input[type="checkbox"] {
  display: none;
}

.popup-secret-input[type="checkbox"] + .popup-secret-label::before {
  content: "";
  background: var(--white) url("./../../assets/product-detail/isChecked=false.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.popup-secret-input[type="checkbox"]:checked + .popup-secret-label::before {
  content: "";
  background: url("./../../assets/product-detail/isChecked=true.png") no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

/* -------------------------------------------------------------------------- */
/*                             focus 시 outline 스타일                            */
/* -------------------------------------------------------------------------- */
.detail *:focus-visible,
.detail button:focus-visible,
.detail input:focus-visible,
.detail .lnb-list .lnb-item-selected:focus-visible,
.popup *:focus-visible,
.popup button:focus-visible,
.popup input:focus-visible,
.popup .lnb-list .lnb-item-selected:focus-visible {
  outline: none;
  border: 2px solid rgb(114, 203, 255);
  box-shadow: 0 0 8px rgb(114, 203, 255);
}

.popup .popup-btn-close:focus-visible {
  width: 0px;
  height: 10px;
  box-sizing: content-box;
}

/* -------------------------------------------------------------------------- */
/*                                  버튼 클릭할 때 효과                               */
/* -------------------------------------------------------------------------- */
.detail button:hover,
.detail button:active,
.popup button:hover,
.popup button:active {
  box-shadow: inset -4px -4px 6px 0 rgb(255 255 255 / 20%), inset 4px 4px 5px 0 rgb(0 0 0 / 5%);
}
