@import url(../../css/reset.css);
@import url(../../css/a11y.css);
@import url(../../css/theme.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}
a {
  color: var(--content);
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

header {
  max-width: 100%;
}

/* top-banner start */
.top-banner {
  height: 42px;
  background: var(--primary);
  text-align: center;
  transition: margin 0.4s linear 0s;
}

.top-banner-text {
  position: relative;
  width: 1050px;
  margin: 0 auto;
  color: var(--white);
  font-size: var(--text-sm);
  line-height: 42px;
  font-weight: var(--weight-base);
}

.top-banner-text span {
  font-weight: var(--weight-md);
}

.top-banner-text button {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

/* 새로추가된거 */
.top-banner.active {
  margin-top: 0;
}

.top-banner {
  height: 42px;
  background: var(--primary);
  text-align: center;
  transition: margin 0.4s linear 0s;
  /* 수정된 부분 */
  margin-top: -42px;
}

/* top-banner end */
.header-inner {
  width: 1050px;
  margin: 0 auto;
}
/* login start */
.login {
  display: flex;
  /* width: 178px; */
  padding-top: 10px;
  font-size: var(--text-xs);
  font-weight: var(--weight-base);
  justify-content: end;
  align-items: center;
}
.login li a {
  padding: 6px;
}
.login li:last-child a {
  padding-right: 0;
}
.login .sign-up {
  color: var(--primary);
}
.login li:not(:last-child) img {
  padding: 0 6px;
}
/* login end */
/* logo start */
.header-top-2 {
  display: flex;
  position: relative;
  height: 42px;
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-sm);
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
}

h1 .logo-img {
  margin-right: var(--spacing-sm);
}

.karly-btn,
.beauty-btn {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: var(--text-md);
  font-weight: var(--weight-md);
}
h1 img:not(:first-child) {
  margin: 0 var(--spacing-sm);
}

.karly-btn {
  color: var(--primary);
  display: inline-block;
}
.beauty-btn {
  position: relative;
  color: var(--gray-400);
}
.beauty-btn::after {
  position: absolute;
  top: -10%;
  right: -10px;
  content: url("../../assets/header/new1.svg");
}
.beauty-btn:hover {
  color: var(--primary);
}
/* logo end */
/* search start */
.header-search {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  width: 400px;
  height: 48px;
  margin: auto;
  border: 1px solid var(--primary);
  background: var(--white);
  border-radius: 4px;
  box-shadow: rgb(247 247 247) 0px 0px 0px 1px inset;
  padding-left: var(--spacing-md);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.header-search input {
  width: 300px;
  border: none;
  color: var(--gray-400);
  background-color: inherit;
  outline: none;
  font-size: var(--text-base);
  line-height: 16px;
  font-weight: var(--weight-base);
}
.header-search .search-btn {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/header/Vector.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: var(--spacing-md);
  cursor: pointer;
}
/* search end */
/* search-icon start */
.search-icon {
  display: flex;
  width: 148px;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.search-icon2 {
  display: none;
}

.header-cart {
  position: relative;
}

/* 장바구니 담기 비활성화(평소) */
.bubble.remove {
  opacity: 1;
  pointer-events: initial;
}

/* 장바구니 담기 완료 창 */

.bubble {
  position: absolute;
  z-index: 100;
  width: 254px;
  height: 100px;
  padding: 20px 20px;
  border: 1px solid #c4c4c4;
  background: #fff;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.search-icon-bubble {
  top: 52px;
  right: -25px;
}

.search-icon2-bubble {
  top: 25px;
  right: -25px;
}

.bubble::before {
  display: block;
  position: absolute;
  top: -17px;
  right: 21px;
  z-index: 2;
  width: 18px;
  height: 18px;
  background: #fff;
  content: "";
  clip-path: polygon(51% 21%, 0% 100%, 100% 100%);
}
.bubble::after {
  display: block;
  position: absolute;
  top: -20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: #c4c4c4;
  content: "";
  clip-path: polygon(51% 21%, 0% 100%, 100% 100%);
}

.bubble .content {
  display: flex;
  align-items: center;
  gap: 24px;
}
.content-wrap {
  display: flex;
  align-items: center;
}
.content .pic {
  overflow: hidden;
  width: 46px;
  height: 60px;
  margin-right: 12px;
}

.content .pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .text-wrap {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
}

.text-wrap {
  width: 144px;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.content .text-wrap .title {
  color: var(--gray-300);
  font: 600 12px/1 "Pretendard";
  margin-bottom: 8px;
}

.content .text-wrap > p {
  font: 400 12px/1 "Pretendard";
}

.search-icon li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.search-icon-location {
  background: url("../../assets/header/Location.svg");
}
.search-icon-location:hover {
  background: url("../../assets/header/LocationPrimary.svg");
}

.search-icon-heart {
  background: url("../../assets/header/Heart.svg");
}
.search-icon-heart:hover {
  background: url("../../assets/header/HeartPrimary.svg");
}

.search-icon-cart {
  background: url("../../assets/header/Cart.svg");
  position: relative;
}
.search-icon-cart:hover {
  background: url("../../assets/header/CartPrimary.svg");
}

.search-icon-cart-add {
  display: none;
  position: absolute;
  right: -4px;
  top: -1px;
  min-width: 20px;
  height: 20px;
  padding: 0px 5px;
  border: 2px solid var(--white);
  border-radius: 10px;
  background-color: var(--primary);
  font-size: 9px;
  color: var(--white);
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.search-icon-cart-add.active {
  display: block;
}

/* search-icon end */
header nav {
  /* height: 52px; */
  display: flex;
  position: relative;
  position: relative;
  width: 1050px;
  color: var(--content);
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-base);
  font-weight: var(--weight-md);
  /* padding-bottom: 12px; */
}
header nav::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  content: "";
  transform: translateX(-50%);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);
  pointer-events: none;
}
/* category start */
.category {
  display: flex;
  position: relative;
  z-index: 999;
  height: 100%;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  margin-right: 50px;
}
.category h2 a {
  display: inline-block;
  padding: 18px 10px 18px 28px;
  background: url("../../assets/header/Hamburger.svg") 0 18px no-repeat;
}
.category:hover h2 a {
  color: var(--primary);
  background: url("../../assets/header/HamburgerPrimary.svg") 0 18px no-repeat;
}

.category-list > li:hover a {
  color: var(--primary);
}

.category:hover .category-list {
  display: block;
}

.category-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 247px;
  height: 800px;
  border: 1px solid #ddd;
  background: #fff;
  overflow-y: scroll;
}

.category-list li {
  height: 40px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 12px 5px;
}
.category-list a {
  display: inline-block;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: var(--text-base);
  font-weight: var(--weight-md);
  padding-left: 44px;
  align-items: center;
}
.category-list li:hover {
  background-color: #f7f7f7;
  /* fill: var(--primary) */
}
.category-list .list1 {
  background-image: url(../../assets/header/category/Type=Gift.svg);
}
.category-list .list2 {
  background-image: url(../../assets/header/category/Type=_Vegetable.svg);
}
.category-list .list3 {
  background-image: url(../../assets/header/category/Type=Fruit.svg);
}
.category-list .list4 {
  background-image: url(../../assets/header/category/Type=SeaFood.svg);
}
.category-list .list5 {
  background-image: url(../../assets/header/category/Type=Meet.svg);
}
.category-list .list6 {
  background-image: url(../../assets/header/category/Type=Cook.svg);
}
.category-list .list7 {
  background-image: url(../../assets/header/category/Type=_Salad.svg);
}
.category-list .list8 {
  background-image: url(../../assets/header/category/Type=Oil.svg);
}
.category-list .list9 {
  background-image: url(../../assets/header/category/Type=Coffee.svg);
}
.category-list .list10 {
  background-image: url(../../assets/header/category/Type=Snack.svg);
}
.category-list .list11 {
  background-image: url(../../assets/header/category/Type=Bread.svg);
}
.category-list .list12 {
  background-image: url(../../assets/header/category/Type=Health.svg);
}
.category-list .list13 {
  background-image: url(../../assets/header/category/Type=Wine.svg);
}
.category-list .list14 {
  background-image: url(../../assets/header/category/Type=_Traditional\ Liquor.svg);
}
.category-list .list15 {
  background-image: url(../../assets/header/category/Type=_Detergent.svg);
}
.category-list .list16 {
  background-image: url(../../assets/header/category/Type=Cook.svg);
}
.category-list .list17 {
  background-image: url(../../assets/header/category/Type=shampoo.svg);
}
.category-list .list18 {
  background-image: url(../../assets/header/category/Type=Food.svg);
}
.category-list .list19 {
  background-image: url(../../assets/header/category/Type=HomeAppliances.svg);
}
.category-list .list20 {
  background-image: url(../../assets/header/category/Type=Dog.svg);
}
.category-list .list21 {
  background-image: url(../../assets/header/category/Type=Baby.svg);
}
.category-list .list22 {
  background-image: url(../../assets/header/category/Type=Travel.svg);
}
/* category end */
/* menu start */
.menu {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  margin-left: -40px;
}
.menu li a {
  display: inline-block;
  padding: 10px;
}

.menu li:hover a {
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 3px;
}
/* menu end */
/* notice start */
.notice {
  padding: 4px var(--spacing-xs);
  border: 1px solid var(--gray-300);
  color: var(--gray-500);
  border-radius: 16px;
  line-height: 19.2px;
  font-size: var(--text-xs);
  font-weight: var(--weight-base);
}
.notice span {
  color: var(--primary);
  font-weight: var(--weight-md);
}
/* notice end */

/* nav.nav-sticky start */
.nav-sticky {
  background: rgba(0, 0, 0, 0.1);
}

.header-search-sticky {
  display: flex;
  display: none;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 4px;
  box-shadow: rgb(247 247 247) 0px 0px 0px 1px inset;
  background-color: rgb(247, 247, 247);
  padding-left: var(--spacing-md);
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
  margin-right: 18px;
}

.header-search-sticky input {
  width: 110px;
  height: 19px;
  border: none;
  color: var(--gray-400);
  background-color: inherit;
  outline: none;
  font-size: var(--text-xs);
  line-height: 16px;
  font-weight: 400;
}

.header-search-sticky .search-btn {
  width: 16px;
  height: 16px;
  background: url("../../assets/header/Vector.svg") no-repeat center/cover;
  margin-right: var(--spacing-md);
  cursor: pointer;
}

/* nav.nav-sticky end */

/* new */
nav.active {
  display: flex;
  position: fixed;
  z-index: 150;
  top: 0;
  width: 1050px;
  flex-direction: row;
  background-color: var(--white);
}
.menu.active {
  z-index: 100;
  width: 400px;
}
.search-icon2.active {
  display: flex;
  z-index: 100;
  width: 148px;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.search-icon2 li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.search-icon2-location {
  background: url("../../assets/header/Location.svg");
}
.search-icon2-location:hover {
  background: url("../../assets/header/LocationPrimary.svg");
}

.search-icon2-heart {
  background: url("../../assets/header/Heart.svg");
}
.search-icon2-heart:hover {
  background: url("../../assets/header/HeartPrimary.svg");
}

.search-icon2-cart {
  background: url("../../assets/header/Cart.svg");
  position: relative;
}
.search-icon2-cart:hover {
  background: url("../../assets/header/CartPrimary.svg");
}

.header-search-sticky.active {
  display: flex;
  z-index: 100;
}
.notice.active {
  display: none;
  z-index: 100;
}
nav.active::after {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 90;
  width: 100vw;
  height: 100%;
  content: "";
  transform: translateX(-50%);
  background-color: var(--white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);
  pointer-events: none;
}
/* footer-inner */
footer {
  border-top: 1px solid var(--gray-100);
}
.footer-inner {
  margin: 0 auto;
  color: var(--content);
  max-width: 1050px;
}
/* inner > footer-top */
.footer-top {
  display: flex;
  height: 417px;
  justify-content: space-between;
  padding-top: 28px;
}
/* footer-top > customer-service */
.customer-service {
  width: 477px;
  height: 357px;
  font-weight: var(--weight-base);
  flex: none;
}
.customer-service h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.4;
}
.customer-service strong {
  display: flex;
  font-size: 37px;
  font-weight: 700;
  align-items: center;
  margin-top: var(--spacing-base);
  line-height: 1.4;
}
.customer-service strong span {
  font-size: var(--text-base);
  font-weight: var(--weight-md);
  margin-left: var(--spacing-xs);
  line-height: 1.5;
}
/* customer-service > inquiry */
.inquiry {
  display: flex;
  height: 188px;
  margin-top: var(--spacing-base);
  flex-direction: column;
  justify-content: space-between;
}
.inquiry > li {
  display: flex;
  height: 52px;
  align-items: center;
}
.inquiry button {
  width: 140px;
  height: 40px;
  border: 1px solid var(--gray-200);
  margin-right: 15px;
  cursor: pointer;
}
.inquiry p {
  height: 52px;
  font-size: var(--text-base);
  line-height: 1.6;
}
/* customer-service > mail */
.mail {
  font-size: var(--text-xs);
  line-height: 1.6;
  margin-top: var(--spacing-base);
}
.mail a {
  color: var(--primary);
}
/* footer-top > about */
.about {
  display: flex;
  width: 486px;
  height: 226px;
  font-weight: var(--weight-base);
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: none;
}
.footer-navigation {
  display: flex;
  font-size: var(--text-base);
  justify-content: space-between;
  line-height: 1.6;
}
/* footer-top > area */
.area {
  font-size: var(--text-xs);
  line-height: 1.6;
}
.area a {
  color: var(--primary);
}
.area span::before {
  padding: 0 var(--spacing-xs);
  vertical-align: middle;
  content: url(../../assets/footer/about_bar.svg);
}
/* footer-top > sns */
.sns {
  display: flex;
  width: 230px;
  height: 30px;
  justify-content: space-between;
}
.sns img {
  height: 30px;
}
/* inner > footer-middle */
.footer-middle {
  display: flex;
  height: 104px;
  border-top: 1px solid var(--gray-100);
  justify-content: space-between;
}
.footer-middle > div {
  display: flex;
  height: 48px;
  letter-spacing: -0.3px;
  text-align: left;
  font-size: 10px;
  font-weight: var(--weight-base);
  line-height: 1.6;
  margin-top: var(--spacing-lg);
  flex: none;
}
.footer-middle .description {
  color: var(--content);
  padding-left: var(--spacing-xs);
}
.lsms {
  width: 217px;
}
.privacy {
  width: 222px;
}
.tosspayments {
  width: 270px;
}
.wooriBank {
  width: 283px;
}
/* footer-bottom */
.footer-bottom {
  display: flex;
  height: 108px;
  background: var(--gray-50);
  color: var(--gray-400);
  text-align: center;
  max-width: 100%;
  font-size: 10px;
  line-height: 16px;
  flex-direction: column;
  justify-content: center;
}
