<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>product-list</title>
</head>
<body>
  <main>
    <div class="inner">
      <h2 class="list-title"></h2>
      <section class="product">
        <section class="product__nav">
          <h3></h3>
          <ul class="list-nav">
            <li class="filter">
              <details class="accordial-head">
                  <summary></summary>
              </details>
            </li>
            <li class="accordial-set">
              <details class="accordial-head">
                <summary></summary>
                <ul class="accodiaon-body">
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                  <li class="accordion-list"></li>
                </ul>
            </details>
            </li>
            <li class="accordial-set">
              <details class="accordial-head">
                <summary></summary>
              </details>
            </li>
            <li class="accordial-set">
              <details class="accordial-head">
                <summary></summary>
              </details>
            </li>
            <li class="accordial-set">
              <details class="accordial-head">
                <summary></summary>
              </details>
            </li>
            <li class="accordial-set">
              <details class="accordial-head">
                <summary></summary>
              </details>
            </li>
            <li class="accordial-set">
              <details class="accordial-head">
                <summary></summary>
              </details>
            </li>
          </ul>
        </section>
        <section class="product__list-group">
          <h3></h3>
          <div class="menu">
            <p></p>
            <ul>
              <li class="menu-button"><button></button></li>
              <li class="menu-button"><button></button></li>
              <li class="menu-button"><button></button></li>
              <li class="menu-button"><button></button></li>
              <li class="menu-button"><button></button></li>
              <li class="menu-button"><button></button></li>
            </ul>
          </div>
          <article class="product-list">
            <div class="slider">
              <a href="#" class="slide">
                <div class="visual">
                  <img src="" alt="" />
                  <button></button>
                </div>
                <div class="info">
                </div>
              </a>
            </div>
          </article>
        </section>
      </section>
    </div>
  </main>
</body>
</html>