<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/client/css/style-productList.css" />

  <title>product-list</title>
</head>
  <body>
    <main>
      <!-- best page -->
      <div class="inner">
        <h2 class="list-title">베스트</h2>
        
        <section class="best-product">

          <!-- product list filter -->
          <section class="product-nav">
            <h3 class="a11yHidden">상품 필터 메뉴</h3>
            <ul class="list-nav">
              <li class="filter">
                <h4>필터</h4>
                <button>초기화</button>
              </li>
              <li class="accordian-set">
                <details class="accordian-head">
                    <summary>
                      <h4>카테고리</h4>
                      <img src="/client/assets/icons/Icon/Direction=Down.svg" alt="" />
                    </summary>
                </details>
              </li>
              <li class="accordian-set">
                <details class="accordian-head">
                  <summary>
                    <h4>브랜드</h4>
                    <img src="/client/assets/icons/Icon/Direction=Down.svg" alt="" />
                  </summary>
                  <ul class="accodiaon-body">
                    <li><input type="checkbox" name="gamzabatt" id="gamzabatt" value="gamzabatt" /><label for="gamzabatt">감자밭</label></li>
                    <li><input type="checkbox" name="kangnam" id="kangnam" value="kangnam" /><label for="kangnam">강남면옥</label></li>
                    <li><input type="checkbox" name="kyungnam" id="kyungnam" value="kyungnam" /><label for="kyungnam">경남제약</label></li>
                    <li><input type="checkbox" name="kyungbokkung" id="kyungbokkung" value="kyungbokkung" /><label for="kyungbokkung">경복궁</label></li>
                    <li><input type="checkbox" name="goraesa" id="goraesa" value="goraesa" /><label for="goraesa">고래사</label></li>
                    <li><input type="checkbox" name="gourmet" id="gourmet" value="gourmet" /><label for="gourmet">고메공방</label></li>
                    <li><input type="checkbox" name="goonadiet" id="goonadiet" value="goonadiet" /><label for="goonadiet">고온어다이어트</label></li>
                    <li><input type="checkbox" name="kyotomarble" id="kyotomarble" value="kyotomarble" /><label for="kyotomarble">교토마블</label></li>
                    <li><input type="checkbox" name="granolahouse" id="granolahouse" value="granolahouse" /><label for="granolahouse">그래놀라 하우스</label></li>
                    <li><input type="checkbox" name="greetslamb" id="greetslamb" value="greetslamb" /><label for="greetslamb">그리츠 시그니처 램</label></li>
                  </ul>
                  <button>브랜드 더보기</button>
              </details>
              </li>
              <li class="accordian-set">
                <details class="accordian-head">
                  <summary>
                    <h4>가격</h4>
                    <img src="/client/assets/icons/Icon/Direction=Down.svg" alt="" />
                  </summary>
                </details>
              </li>
              <li class="accordian-set">
                <details class="accordian-head">
                  <summary>
                    <h4>혜택</h4>
                    <img src="/client/assets/icons/Icon/Direction=Down.svg" alt="" />
                  </summary>
                </details>
              </li>
              <li class="accordian-set">
                <details class="accordian-head">
                  <summary>
                    <h4>유형</h4>
                    <img src="/client/assets/icons/Icon/Direction=Down.svg" alt="" />
                  </summary>
                </details>
              </li>
              <li class="accordian-set">
                <details class="accordian-head">
                  <summary>
                    <h4>특정상품 제외</h4>
                    <img src="/client/assets/icons/Icon/Direction=Down.svg" alt="" />
                  </summary>
                </details>
              </li>
            </ul>
          </section>

          <!-- product list -->
          <section class="product-list-group">
            <h3 class="a11yHidden">상품 리스트</h3>
            <div class="menu">
              <span>총건</span>
              <ul class="menu-button-list">
                <li class="menu-button"><button>추천순</button></li>
                <li class="menu-button"><button>신상품순</button></li>
                <li class="menu-button"><button>판매량순</button></li>
                <li class="menu-button"><button>혜택순</button></li>
                <li class="menu-button"><button>낮은가격순</button></li>
                <li class="menu-button"><button>높은가격순</button></li>
              </ul>
            </div>
            <article class="product-list">
              <div class="product">
                <div class="visual">
                  <a href="#" class="product-image"><img src="/client/assets/ubuho/thumbnail.jpg" alt="유부호 만두" /></a>
                  <button><img src="/client/assets/icons/Icon/Cart.svg" alt="장바구니에 담기" /></button>
                </div>
                <div class="info">
                  <p class="delivery">샛별배송</p>
                  <h4>[대구 반할만떡] 유부호만두</h4>
                  <p class="price"><span class="sale">24%</span>5,344원</p>
                  <s class="pre-price">6,900원</s>
                  <p class="described">유부로 속을 든든히 채운 군만두</p>
                </div>
              </div>
              <div class="product">
                <div class="visual">
                  <a href="#" class="product-image"><img src="/client/assets/tangtang/thumbnail.jpg" alt="풀무원 탱탱쫄면" /></a>
                  <button><img src="/client/assets/icons/Icon/Cart.svg" alt="장바구니에 담기" /></button>
                </div>
                <div class="info">
                  <p class="delivery">샛별배송</p>
                  <h4>[풀무원] 탱탱쫄면 (4개입)</h4>
                  <p class="price">4,980원</p>
                  <p class="described">튀기지 않아 부드럽고 매콤한</p>
                </div>
              </div>
              <div class="product">
                <div class="visual">
                  <a href="#" class="product-image"><img src="/client/assets/jukkumi/thumbnail.jpg" alt="홍대 주꾸미" /></a>
                  <button><img src="/client/assets/icons/Icon/Cart.svg" alt="장바구니에 담기" /></button>
                </div>
                <div class="info">
                  <p class="delivery">샛별배송</p>
                  <h4>[홍대주꾸미] 주꾸미 볶음 300g (냉동)</h4>
                  <p class="price"><span class="sale">13%</span>6,800원</p>
                  <s class="pre-price">7,900원</s>
                  <p class="described">매콤달콤한 마력의 밥도둑</p>
                </div>
              </div>
            </article>
            <nav class="page-navigation">
              <div class="nav-button">
                <button><img src="/client/assets/icons/Icon/pre-pre.svg" alt="전전 페이지로 이동"></button>
                <button><img src="/client/assets/icons/Icon/pre.svg" alt="이전 페이지로 이동"></button>
                <button><span>1</span></button>
                <button class="next"><img src="/client/assets/icons/Icon/pre.svg" alt="다음 페이지로 이동"></button>
                <button class="next"><img src="/client/assets/icons/Icon/pre-pre.svg" alt="다다음 페이지로 이동"></button>
              </div>
            </nav>
          </section>
        </section>
      </div>
    </main>
  </body>

</html>